.textfield{
    width: 377px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1B1A1C;

    color: #FFF;
    font-family: "Space Grotesk", "Arial";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.emailtextfield{
    position: absolute;
    top: 265px;
    left: 840px;
}

.passwordtextfield{
    position: absolute;
    top: 385px;
    left: 840px;
}

.gentext{
    color: #FFF;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.emailtext{
    position: absolute;
    top: 240px;
    left: 840px;
}

.passwordtext{
    position: absolute;
    top: 360px;
    left: 840px;
}

.forgotpassword{
    color: #FFF;
    font-family: "Space Grotesk", "Arial";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    position: absolute;
    top: 550px;
    left: 1015px;
    text-align: center
}

.loginbutton{
    border-radius: 30px;
    background: #4C1CD4;
    width: 377px;
    height: 50px;
    flex-shrink: 0;

    color: #FFF;
    font-family: "Space Grotesk", "Arial";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    position: absolute;
    top: 475px;
    left: 840px;
}